
<li *ngIf='node'><span [class.selected] = 'node && node.isExpanded'>{{node?.name}}</span>
  <span *ngIf='node && node.children.length' (click)='toggleShowChildren()'>
    <b *ngIf='node && node.isExpanded' class='collapseButton'>-</b>
    <b *ngIf='node && !node.isExpanded' class='collapseButton'>+</b>
  </span>
</li> 
<ul *ngIf="node && node.isExpanded && node.children.length">
  <app-tree *ngFor='let child of node.children' [node] = 'child'></app-tree>
</ul>

